* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    color: white;
}


/* NAVIGATION BARS */
.navbar {
    background-color: #000000;
}
.navbar-nav {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 1px;
}
.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 600px) {
    .navbar {
        font-size: 0.5rem;
        height: 4%;
    }
}